* {
  padding: 0;
  margin: 0;
}

html,
body, #root {
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.cart-wrapper {
  height: 100%;
  display: flex;
}

.cart-accounts-wrapper {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}
