.cart-accounts__title {
  margin-top: 3em;
  margin-left: 1em;
}

.cart-accounts {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
}

.cart-account__add-btn {
  align-self: center;
  height: 4em;
  width: 4em;
  border-radius: 50px;
  border: 1px solid #aeb4ba;
  background-color: #4a90e2;
  color: white;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.cart-accounts-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;

  a {
    text-decoration: none;
  }
}

.cart-accounts__back {
  margin-left: 1em;
  > a {
    color: #98a5ae;
  }
}

.cart-accounts__next {
  border: 1px solid #425163;
  border-radius: 3px;
  background-color: #4a90e2;
  padding: 1.5em 3em;
  margin-right: 2em;

  > a {
    color: white;
    font-weight: 600;
  }
}
